.archive-filter {
	@include flexbox;
	flex-wrap: wrap;

	.archive-filter__terms {
		text-align: left;
	}

	.archive-filter__date {
		text-align: right;
	}

	.archive-filter__terms, 
	.archive-filter__date {
		width: 50%;
	}

	.select {
		position: relative;
		display: inline-block;
		text-align: left;
	}

	.select__title {
		text-transform: uppercase;
		border-bottom: 1px solid black;
		cursor: pointer;
	}

	.select__arrow {
		display: inline-block;
	}

	.select__list {
		display: none;
		position: absolute;
		background-color: black;
		padding: 1rem 1.5rem;
		left: 0;
		right: 0;
		top: 100%;
		z-index: 1;
		min-width: 20rem;
	}

	.select__option {
		color: white;
		display: block;
		width: 100%;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}