[is='menu-navigation'] {    

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
	z-index: 5;



	@include media-breakpoint-up(xs) { 
		html.logged-in.admin-bar & {
			top: 46px
		}
	}
	 
	@include media-breakpoint-up(lg) { 
		html.logged-in.admin-bar & {
			top: 32px
		}
	}

    .menu-navigation{
        padding: 15px 0;
        
        -webkit-transition: all .35s ease-out;
           -moz-transition: all .35s ease-out;
            -ms-transition: all .35s ease-out;
             -o-transition: all .35s ease-out;
                transition: all .35s ease-out;

        &.scroll {
            padding: 5px 0;
            background-color: #fff;
            box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
        }

        &:hover {
            background-color: #fff;
        }

        & > .container-fluid {
            max-width: 1600px;
        }
    }

    .menu-navigation:not(.scroll) {        
        .logo--sticky {
            display: none;
        }   
    }

    .menu-navigation.scroll {
        .logo--normal {
            display: none;
        }
    }
    

    .row {  
        align-items: center;
    }

    .nav-logo {
        img {
            height: 33px;
            width: auto;
        }
    }

    .nav-hamburger {

        .hamburger {
            width: 30px;
            height: 15px;
            position: relative;
            margin-left: auto;
            cursor: pointer;

            span {
                background-color: #000;
                height: 2px;
                width: 100%;
                position: absolute;

                -webkit-transition: all .35s ease-out;
                   -moz-transition: all .35s ease-out;
                    -ms-transition: all .35s ease-out;
                     -o-transition: all .35s ease-out;
                        transition: all .35s ease-out;

                &:first-child {
                    top: 0;
                }

                &:last-child {
                    bottom: 0;
                    width: 55%;
                    right: 0;
                }
            }
        }
    } 

    .nav-wpml {

        text-align: right;

        span {
            text-transform: uppercase;
            display: block;
            cursor: pointer;
        }

        .nav-wpml__lang-active {
            position: relative;
            padding: 1rem 0;

            .nav-wpml__dropdown {
                position: absolute;
                left: 50%;
                background-color: #fff;
                padding: 1rem;
                top: 100%;

                -webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
                   -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
                        box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);

                -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                     -o-transform: translateX(-50%);
                        transform: translateX(-50%);                
            }

            &:not(.open) .nav-wpml__dropdown {
                display: none;
            }
        }
    }

    .nav-search, .nav-wpml {
        width: 40px;
        text-align: center;
    }

    .nav-search {

        img {
            height: 20px;
            margin-left: auto;
            cursor: pointer;
        }

        img.light {
            display: none;
        }
    }

    .nav-text {
        a {
            font-size: 1.8rem;
            font-family: $font-body-bold;
        
            &:not(:first-child) {
                margin-left: 6rem;
            }
        }
    }

    .content-hamburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 9;
        background-color: #fff;
        display: flex;
        align-items: center;
        padding: 30px 0;

        -webkit-transition: all .25s ease-out;
           -moz-transition: all .25s ease-out;
            -ms-transition: all .25s ease-out;
             -o-transition: all .25s ease-out;
                transition: all .25s ease-out;
    }

    &:not(.menu-navigation--menuIsOpen) {

        .content-hamburger__image, .content-hamburger__menu {
            opacity: 0;
            -webkit-transform: translateX(10vw);
               -moz-transform: translateX(10vw);
                -ms-transform: translateX(10vw);
                 -o-transform: translateX(10vw);
                    transform: translateX(10vw);
        }

        .content-hamburger {
            left: 105vw;
            opacity: 0;
        }
    }

    .content-hamburger__menu {

        max-height: 80vh;
        overflow-y: auto;
        width: 100%;
        padding: 0 30px;

        -webkit-transition: all .25s ease-out .45s;
           -moz-transition: all .25s ease-out .45s;
            -ms-transition: all .25s ease-out .45s;
             -o-transition: all .25s ease-out .45s;
                transition: all .25s ease-out .45s;

        .hamburger__menu-bottom {
            margin-top: 2rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            font-family: $font-body-bold;
            font-size: 2.2rem;
            line-height: 5rem;
            
            .dropdown {
                width: 15px;
                height: 10px;                
                display: inline-block;
                margin-left: 1rem;
                cursor: pointer;
                position: relative;
                background-image: url(/wp-content/themes/farmerbit/dist/assets/images/arrow-down-submenu.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                -webkit-transition: all .25s ease-out;
                   -moz-transition: all .25s ease-out;
                    -ms-transition: all .25s ease-out;
                     -o-transition: all .25s ease-out;
                        transition: all .25s ease-out;
            }

            &.menu-item--current > a {
                border-bottom: 2px solid #000;
            }

            

            &.open .dropdown {
                -webkit-transform: rotate(180deg);
                   -moz-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                        transform: rotate(180deg);
            }

        }
        
        ul.sub-menu {

            -webkit-transition: all .25s ease-out;
               -moz-transition: all .25s ease-out;
                -ms-transition: all .25s ease-out;
                 -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;

            li {
                font-size: 1.8rem;
                line-height: 2.8rem;
                font-family: $font-body;

                &.menu-item--current {
                    font-family: $font-body-bold;
                    margin-bottom: 1rem;
                }
            }
        }

        li:not(.open) ul.sub-menu {
            display: none;
        }
    }

    .content-hamburger__image {

        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center center;

        -webkit-transition: all .25s ease-out .25s;
           -moz-transition: all .25s ease-out .25s;
            -ms-transition: all .25s ease-out .25s;
             -o-transition: all .25s ease-out .25s;
                transition: all .25s ease-out .25s;

    }

    .close {
        width: 25px;
        height: 25px;
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;

        .line {
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            top: calc(50% - 1px);
            -webkit-transition: all .25s ease-out;
               -moz-transition: all .25s ease-out;
                -ms-transition: all .25s ease-out;
                 -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;
        }

        .line:first-child {
            -webkit-transform: rotate(45deg);
               -moz-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                 -o-transform: rotate(45deg);
                    transform: rotate(45deg);
        }

        .line:last-child {
            -webkit-transform: rotate(-45deg);
               -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                 -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
        }
    }

    .popup-search {
        position: fixed;
        top: -60px;
        left: 0;
        right: 0;
        z-index: 9;
        background-color: #fff;
        display: flex;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
    
        -webkit-transition: top .4s ease-out .4s, opacity .4s ease-out.4s, visibility .1s ease .85s;
           -moz-transition: top .4s ease-out .4s, opacity .4s ease-out.4s, visibility .1s ease .85s;
            -ms-transition: top .4s ease-out .4s, opacity .4s ease-out.4s, visibility .1s ease .85s;
             -o-transition: top .4s ease-out .4s, opacity .4s ease-out.4s, visibility .1s ease .85s;
                transition: top .4s ease-out .4s, opacity .4s ease-out.4s, visibility .1s ease .85s;


        &.open {
            opacity: 1;
            top: 0px;
            visibility: visible;
        
            -webkit-transition: top .4s ease-out, opacity .4s ease-out, visibility .1s ease;
               -moz-transition: top .4s ease-out, opacity .4s ease-out, visibility .1s ease;
                -ms-transition: top .4s ease-out, opacity .4s ease-out, visibility .1s ease;
                 -o-transition: top .4s ease-out, opacity .4s ease-out, visibility .1s ease;
                    transition: top .4s ease-out, opacity .4s ease-out, visibility .1s ease;
        }

        .popup-search__container {
            width: 800px;
            max-width: 90%;
            margin: auto;
            align-self: center;
            text-align: center;
            opacity: 0;
            -webkit-transition: all .4s ease-out;
               -moz-transition: all .4s ease-out;
                -ms-transition: all .4s ease-out;
                 -o-transition: all .4s ease-out;
                    transition: all .4s ease-out;
        }

        &.open .popup-search__container {
            opacity: 1;
            -webkit-transition: all .4s ease-out .6s;
               -moz-transition: all .4s ease-out .6s;
                -ms-transition: all .4s ease-out .6s;
                 -o-transition: all .4s ease-out .6s;
                    transition: all .4s ease-out .6s;
        }

        .popup-search__title {
            font-family: $font-body-bold;
            margin-bottom: 2rem;
            font-size: 2rem;
        }
        
        .popup-search__form__form input {
            font-size: 16px;
            line-height: 28px;
            border: 0;
            border-bottom: 1px solid #000;
            background-color: transparent;
            padding: 15px 25px;
            cursor: pointer;
            font-weight: 300;
            width: calc(100% - 30px);
            text-align: center;
            margin-bottom: 2rem;

            input:focus {
                border-bottom: 2px solid #000;
            }

            button {
                background-color: transparent;
                border: 0;
            }
        }

        .close_menu .line {
            background-color: #000;
        }

        button {
            cursor: pointer;
        }
    } 

    .menu-item--hasChildren {
        position: relative;
    }  
    
    &.menu-navigation--menuIsOpen .content-hamburger::before {
        content: ""; 
    }

    .nav-menuDesktop {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

                &.menu-item--current > a {
                    color: $color-text-accent;

                    &::before {
                        background-color: $color-text-accent;
                    }
                }

                a {
                    text-decoration: none;
                    font-family: $font-body-medium;
                    color: $color-text;
                    position: relative;
                    font-size: 1.7rem;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 0%;
                        height: 2px;
                        background-color: #000;
                        -webkit-transition: all .2s ease-out;
                           -moz-transition: all .2s ease-out;
                             -o-transition: all .2s ease-out;
                                transition: all .2s ease-out;
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }

                &:not(:first-child) {
                    margin-left: 1rem;
                }

                .sub-menu {
                    width: 100vw;
                    position: fixed;
                    left: 0;
                    top: 70px;
                    background-color: #fff;
                    -webkit-box-shadow: 0px 27px 20px -30px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 27px 20px -30px rgba(0, 0, 0, 0.75);
                    margin-top: -15px;
                    opacity: 0;
                    visibility: hidden;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    -webkit-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                       -moz-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                         -o-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                            transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;

                    a {
                        font-family: $font-body;
                        
                        &::before {
                            height: 1px;
                        }
                    }

                    li {
                        width: 100%;
                        margin-left: 0;
                        
                        &:not(:first-child) {
                            margin-top: 5px;
                        }
                    }

                    .sub-menu-image {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 30vw;
                        background-position: center;
                        background-size: cover;
                    }

                    ul {
                        padding-right: 30vw;
                    }
                }

                .sub-menu__title {
                    font-family: $font-body-medium;
                    margin-bottom: 2rem;
                }

                &.menu-item--hasChildren:hover .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                    -webkit-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                       -moz-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                         -o-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                            transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                }
            }
        }
    }
    
}