// @import 'popup-search';

[is='menu-navigation'] {

	@include media-breakpoint-up(xs) { 
		.container-fluid {
			padding: 0 2rem
		}

		html.logged-in.admin-bar & {
			top: 46px
		}
	}

	@include media-breakpoint-up(sm) {
		.container-fluid {
			padding: 0 3rem
		}
	}

	@media all and (min-width: 576px) and (max-width: 767px) {
		.menu-desktop ul li.menu-item {
			font-size: 1.3rem;
		}
	}

	@include media-breakpoint-up(md) {
		.container-fluid {
			padding: 0 3rem
		}
	}

	@include media-breakpoint-up(lg) {
		.container-fluid {
			padding: 0 3rem
		}

		html.logged-in.admin-bar & {
			top: 32px
		}
	}

	@include media-breakpoint-up(xl) { 
		.container-fluid {
			padding: 0 3rem
		}
	}

    .menu-navigation{
        margin-top: 3rem;
		position: relative;
        
        -webkit-transition: all .35s ease-out;
           -moz-transition: all .35s ease-out;
            -ms-transition: all .35s ease-out;
             -o-transition: all .35s ease-out;
                transition: all .35s ease-out;

        // body.scroll & {
        //     padding: 3rem 0;
        //     background-color: #fff;
        //     box-shadow: 0px 0px 28px -10px rgba(0, 0, 0, 0.75);
        // }

        &:hover {
            background-color: #fff;
        }

        & > .container-fluid {
            max-width: 1920px;
        }

		.ml-auto + .ml-auto {
			margin-left: 0 !important;
		}
    }

    body:not(.scroll) & {
        .logo__image--sticky {
            display: none;
        }   
    }

    body.scroll & {
        .logo__image--standard {
            display: none;
        }
    }
	 
	@include media-breakpoint-down(lg) {
		.logo__image--standard {
            display: none;
        }

		.logo__image--sticky {
            display: block !important;
        }
	}

	.logo__link {
		display: inline-block;
		vertical-align: middle;
	}

	.logo__name {
		font-family: $font-logo;
		text-transform: uppercase;
		line-height: 1;

		@include media-breakpoint-down(sm) {
			font-size: 3rem;
		}
		
		@include media-breakpoint-up(md) {
			font-size: 4rem;		
		}
		 
		@include media-breakpoint-up(lg) {
			font-size: 6rem;
		}
	}

	.logo__image {
		&--standard {
			height: 2.2rem;
		}
	
		&--sticky {
			height: 4.8rem;

			@include media-breakpoint-down(sm) {
				height: 3.4rem;
			}
		}
	}

	.hamburger,
	.switch-wpml,
	.search-toggle {
		position: relative;
		z-index: 1;
	}

	.hamburger {
		width: 30px;
		height: 15px;
		position: relative;
		margin-left: auto;
		cursor: pointer;
		top: 1rem;
		right: 1.5rem;
		text-transform: uppercase;

		span {
			background-color: #000;
			height: 2px;
			width: 100%;
			position: absolute;

			-webkit-transition: all .35s ease-out;
				-moz-transition: all .35s ease-out;
				-ms-transition: all .35s ease-out;
					-o-transition: all .35s ease-out;
					transition: all .35s ease-out;

			&:first-child {
				top: 0;
			}

			&:last-child {
				bottom: 0;
				width: 55%;
				right: 0;
			}
		}

		@include media-breakpoint-down(md) { 
			position: absolute;
			min-width: 50px;
		}
	}

    .switch-wpml {
		margin-left: auto;

        .switch-wpml__active {
            display: block;
			position: relative;
			cursor: pointer;

			&:after {
				content: "";
				padding-right: 1rem;
				margin-left: 1rem;
				background: url(../assets/images/arrow-down.svg) center 60% / contain no-repeat;
			}
		}

		.switch-wpml__active:not(.open) + .switch-wpml__dropdown {
			display: none;
		}

		.switch-wpml__dropdown {
			position: absolute;
			right: 0;
			background-color: #fff;
			margin-top: 1rem;
			padding: 1rem;
			top: 100%;
			min-width: 10rem;

			-webkit-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
			   -moz-box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);
					box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.5);         
		}
    }

    .search-toggle {
        img {
            height: 20px;
            margin-left: auto;
            cursor: pointer;
        }

        img.light {
            display: none;
        }
    }

    .nav-text {
        a {
            font-size: 1.8rem;
            font-family: $font-body-bold;
        
            &:not(:first-child) {
                margin-left: 6rem;
            }
        }
    }

    .content-hamburger {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        z-index: 9;
        background-color: #fff;
        display: flex;
        align-items: center;
		overflow: auto;

        -webkit-transition: all .25s ease-out;
           -moz-transition: all .25s ease-out;
            -ms-transition: all .25s ease-out;
             -o-transition: all .25s ease-out;
                transition: all .25s ease-out;

				
		@include media-breakpoint-down(md) {
			height: 100%;
			padding-top: 33.3333%;
		}

		@include media-breakpoint-up(lg) {
			height: 100vh;
		}
    }

    &:not(.menu-navigation--menuIsOpen) {

        .content-hamburger__image, .content-hamburger__menu {
            opacity: 0;
            -webkit-transform: translateX(10vw);
               -moz-transform: translateX(10vw);
                -ms-transform: translateX(10vw);
                 -o-transform: translateX(10vw);
                    transform: translateX(10vw);
        }

        .content-hamburger {
            left: 105vw;
            opacity: 0;
        }
    }

    .content-hamburger__menu {
        // max-height: 80vh;
        // overflow-y: auto;
        width: 100%;

		@include media-breakpoint-down(md) {
			height: 100%;
		}

        -webkit-transition: all .25s ease-out .45s;
           -moz-transition: all .25s ease-out .45s;
            -ms-transition: all .25s ease-out .45s;
             -o-transition: all .25s ease-out .45s;
                transition: all .25s ease-out .45s;

        .hamburger__menu-bottom {
            margin-top: 2rem;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li {
            font-size: 2.2rem;
            line-height: 5rem;
            
            .dropdown-toggle {
				position: relative;
				width: 2.5rem;
				height: 2.5rem;
				display: inline-block;
				vertical-align: -7%;
				background: url(../assets/images/next.svg) center / contain no-repeat;
				@include transition(transform .3s);

				&:focus {
					outline: none;
				}

				@include media-breakpoint-down(sm) {
					margin-left: 2rem
				}
				
				@include media-breakpoint-up(md) {
					margin-left: 2rem
				}
				 
				@include media-breakpoint-up(lg) {
					margin-left: 4rem
				}
			}

            &.menu-item--current .menu-link {
				position: relative;

                &:after {
					content: "";
					position: absolute;
					bottom: 0;
					left: 0; right: 0;
					height: 1px;
					background-color: $color-text;
				}
            }

			.menu-link {
				font-family: $font-body-regular;

				&:hover {
					text-decoration: none;
				}
			}

            &.open .dropdown-toggle {
                -webkit-transform: rotate(180deg);
                   -moz-transform: rotate(180deg);
                     -o-transform: rotate(180deg);
                        transform: rotate(180deg);
            }
        }
        
        ul.sub-menu {
			display: none;

            -webkit-transition: all .25s ease-out;
               -moz-transition: all .25s ease-out;
                -ms-transition: all .25s ease-out;
                 -o-transition: all .25s ease-out;
                    transition: all .25s ease-out;

            li {
                font-size: 1.8rem;
                line-height: 2.8rem;

                &.menu-item--current {
                    font-family: $font-body-bold;
                }
            }
			 
			@include media-breakpoint-up(lg) {
				position: absolute;
			}
        }

        li.open .sub-menu {
            display: block;
        }
    }

    .content-hamburger__image {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center center;

        -webkit-transition: all .25s ease-out .25s;
           -moz-transition: all .25s ease-out .25s;
            -ms-transition: all .25s ease-out .25s;
             -o-transition: all .25s ease-out .25s;
                transition: all .25s ease-out .25s;

    }

    .menu-item--hasChildren {
        position: relative;
    }  
    
    &.menu-navigation--menuIsOpen .content-hamburger::before {
        content: ""; 
    }

    .menu-desktop {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                display: inline-block;

				@include media-breakpoint-down(sm) {
					font-size: 1.5rem;

					& + li {
						margin-left: 1rem;
					}
				}
				
				@include media-breakpoint-up(md) {
					font-size: 1.5rem;

					& + li {
						margin-left: 3rem;
					}
				}
				 
				@include media-breakpoint-up(lg) {
					font-size: 1.8rem;

					& + li {
						margin-left: 5rem;
					}
				}

				@include media-breakpoint-up(xl) {
					& + li {
						margin-left: 6rem;
					}
				}

                a,
				&.menu-item--current > a {
                    text-decoration: none;
                    position: relative;
					letter-spacing: 1.75px;
					text-transform: uppercase;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: -.6rem;
                        left: 0;
                        width: 0%;
                        height: 1px;
                        background-color: #000;
                        -webkit-transition: all .2s ease-out;
                           -moz-transition: all .2s ease-out;
                             -o-transition: all .2s ease-out;
                                transition: all .2s ease-out;
                    }

                    &:hover::before {
                        width: 100%;
                    }
                }

				&.menu-item--current > a {
					&::before { 
						right: 0;
						width: 100%;
					}
				}

                .sub-menu {
                    width: 100vw;
                    position: fixed;
                    left: 0;
                    top: 70px;
                    background-color: #fff;
                    -webkit-box-shadow: 0px 27px 20px -30px rgba(0, 0, 0, 0.75);
                    box-shadow: 0px 27px 20px -30px rgba(0, 0, 0, 0.75);
                    margin-top: -15px;
                    opacity: 0;
                    visibility: hidden;
                    padding-top: 40px;
                    padding-bottom: 40px;

                    -webkit-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                       -moz-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                         -o-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;
                            transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .4s;

                    a {                        
                        &::before {
                            height: 1px;
                        }
                    }

                    li {
                        width: 100%;
                        margin-left: 0;
                        
                        &:not(:first-child) {
                            margin-top: 5px;
                        }
                    }

                    .sub-menu-image {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        width: 30vw;
                        background-position: center;
                        background-size: cover;
                    }

                    ul {
                        padding-right: 30vw;
                    }
                }

                .sub-menu__title {
                    font-family: $font-body-medium;
                    margin-bottom: 2rem;
                }

                &.menu-item--hasChildren:hover .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    margin-top: 0;
                    -webkit-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                       -moz-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                         -o-transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                            transition: opacity .2s ease-out .2s, margin-top .2s ease-out .2s, visibility .01s linear .2s;
                }
            }
        }
    }

	h2.menu-link__title {
		text-transform: uppercase;
		font-family: $font-body-regular;
		letter-spacing: 2.8px;

		@include media-breakpoint-down(sm) {
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}
		
		@include media-breakpoint-up(md) {
			font-size: 2.5rem;
			margin-bottom: 2.5rem;
		}
	}

	h3.menu-link__subtitle {
		text-transform: uppercase;
		font-family: $font-body-regular;
		letter-spacing: 2.8px;

		@include media-breakpoint-down(sm) {
			font-size: 2.2rem;
			margin-bottom: 2rem;
		}
		
		@include media-breakpoint-up(md) {
			font-size: 2.5rem;
			margin-bottom: 2.5rem;
		}
	}

	.sm-nav-wpml {
		min-height: 10rem;

		&__item {
			display: inline-block;
			margin-right: 3rem
		}

		&__item--active .sm-nav-wpml__link {
			font-family: $font-title;
		}
	}

}