[is='hero'] {

    .section {
        margin-bottom: 2rem;

        @media (min-width: 576px) {
            margin-bottom: 0;
        }
    }

    .hero {
        min-height: 90vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: 768px) {
            min-height: 100vh;
        }
    }

    .hero-title * {
        font-size: 3rem;
        line-height: 4rem;

        @media (min-width: 576px) {
            font-size: 4rem;
            line-height: 5rem;
        }

        @media (min-width: 768px) {
            font-size: 5rem;
            line-height: 6rem;
        }

        @media (min-width: 992px) {
            font-size: 7rem;
            line-height: 8rem;
        }
    }

    .hero-description {
        margin-top: 3rem;

        @media (min-width: 768px) {
            margin-top: 4rem;
        }

        @media (min-width: 992px) {
            margin-top: 6rem;
        }
    }

    .hero-description * {
        font-family: $font-body-regular;
        font-size: 2rem;
        line-height: 3rem;

        @media (min-width: 768px) {
            font-size: 2.5rem;
            line-height: 3.5rem;
        }

        @media (min-width: 992px) {
            font-size: 3rem;
            line-height: 4rem;
        }
    }

    .hero-image {
        position: absolute;
        left: 0;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        width: 90vw;
        top: 30%;
        bottom: 5%;
        opacity: 0.2;

        @media (min-width: 576px) {
            width: 74vw;
            top: 10%;
            bottom: 5%;
        }

        @media (min-width: 992px) {
            width: 45vw;       
            opacity: 1;     
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-top: 55vh solid #fff;
            border-left: 120vw solid transparent;

            @media (min-width: 576px) {
                border-left: 74vw solid transparent;
            }   
            
            @media (min-width: 992px) {
                border-left: 45vw solid transparent;
            }   
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-bottom: 30vh solid #fff;
            border-left: 103vw solid transparent;

            @media (min-width: 576px) {
                border-left: 74vw solid transparent;
            }

            @media (min-width: 992px) {
                border-left: 45vw solid transparent;
            }
        }
    }

    .hero-content {
        @media (min-width: 992px) {
            padding-left: 10rem;
        }

        @media (min-width: 768px) {
            padding-top: 10rem;
            padding-bottom: 10rem;
        }
    }

}