[is='flynt-block-not-found'] {
  .button.button--link {
    font-size: 1.6rem;
    color: $color-text-accent;

    &::before {
      background-color: $color-text-accent;
    }

    &::after {
      content: none;
    }
  }
}
