<div class="flyntComponent componentSpacing" is="flynt-block-not-found">
    <div class="section">
	    <div class="container-lg">
			{{ contentHtml|e('wp_kses_post') }}
			<a class="button button--link" href="{{ function('home_url') }}">{{ backLinkLabel|e }}</a>
    	</div>
	</div>
</div>
