[is='single-block'] {

	&.boxBottomX .single-block {		

		@media (min-width: 992px) {
			
			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: 8rem;
				background-color: #F2F2F2;
				z-index: -1;
			}		
			
		}

		@media (min-width: 992px) and (max-width: 1199px)  {

			.text {
				padding-top: 10rem;
				padding-bottom: 10rem;
			}
			
			&::after {
				height: 6rem;
			}	
			
		}

		@media (max-width: 991px) {			
			margin-bottom: 6rem;			
		}
		
	}

	.single-block--bgColor {
		padding-top: 6rem;
		padding-bottom: 6rem;

		@media (min-width: 768px) {
			
			padding-top: 8rem;
			padding-bottom: 8rem;
			
		}
	}

	.single-block__title {

		* {
			padding-top: 0;
			margin-bottom: 0;
			font-family: $font-body-regular;
			font-weight: 400;
		}

		h3, div, span {
			font-size: 2rem;
			line-height: 3rem;
	
			@media (min-width: 768px) {
				font-size: 2.2rem;
				line-height: 3.2rem;
			}
	
			@media (min-width: 992px) {
				font-size: 2.5rem;
				line-height: 3.85rem;
			}
		}

		h2 {
			font-size: 2rem;
			line-height: 3rem;
	
			@media (min-width: 768px) {
				font-size: 2.2rem;
				line-height: 3.2rem;
			}
	
			@media (min-width: 992px) {
				font-size: 2.5rem;
				line-height: 3.85rem;
			}
		}

		h1 {
			font-size: 3rem;
			line-height: 4rem;
			font-family: $font-body-black;

			@media (min-width: 576px) {
				font-size: 4rem;
				line-height: 5rem;
			}

			@media (min-width: 768px) {
				font-size: 5rem;
				line-height: 6rem;
			}

			@media (min-width: 992px) {
				font-size: 6rem;
				line-height: 7rem;
			}

			@media (min-width: 1200px) {
				font-size: 7rem;
				line-height: 8rem;
			}
		}
	}

	.single-block {
		position: relative;
	}

	.single-block__title + .single-block__description {
		margin-top: 2rem;

		@media (min-width: 768px) {
			margin-top: 4rem;
		}
	}

	.single-block__description h2 {
		font-size: 2rem;
		line-height: 3rem;
		padding-top: 0;
		margin-bottom: 0;
		font-family: $font-body-medium;

		@media (min-width: 768px) {
			font-size: 2.4rem;
			line-height: 3.4rem;
		}

		@media (min-width: 992px) {
			font-size: 2.8rem;
			line-height: 3.8rem;
		}

		&:not(:last-child) {
			margin-bottom: 4rem;
			
			@media (min-width: 992px) {
				margin-bottom: 6rem;
			}
		}

		&:not(:first-child) {
			margin-top: 4rem;
			
			@media (min-width: 992px) {
				margin-bottom: 6rem;
			}
		}
	}

	.single-block__description h3 {
		font-size: 1.8rem;
		line-height: 2.8rem;
		padding-top: 0;
		margin-bottom: 0;
		font-family: $font-body-medium;

		@media (min-width: 768px) {
			font-size: 2rem;
			line-height: 3rem;
		}

		@media (min-width: 992px) {
			font-size: 2.1rem;
			line-height: 3.1rem;
		}

		&:not(:last-child) {
			margin-bottom: 2rem;
		}

		&:not(:first-child) {
			margin-top: 4rem;
		}
	}

	.single-block__bg {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.single-block__figure {
		position: relative;
		height: 100%;
	}

	.single-block__link {
		font-family: $font-body-bold;
		font-size: 1.8rem;
		text-transform: uppercase;
		letter-spacing: 2px;
		margin-top: 2rem;
		display: inline-block;
		position: relative;
		padding-right: 4.5rem;

		
		@media (min-width: 768px) {
			margin-top: 4rem;
		}

		@media (min-width: 992px) {
			margin-top: 6rem;
		}

		&::after {
			content: "";
			width: 2.5rem;
			height: 2px;
			background-color: #C4232A;
			position: absolute;
			bottom: 5px;
			left: calc(100% - 3.5rem);

			-webkit-transition: width .2s ease-out;
			   -moz-transition: width .2s ease-out;
				 -o-transition: width .2s ease-out;
					transition: width .2s ease-out;
		}

		&:hover::after {
			width: 3.5rem;
		}
	}

	.single-block__link-cover {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	.single-block__image {
		display: block;
		width: 100%;	
	}

	.single-block__figure-mobile {
		margin-bottom: 2rem;
		margin-top: 2.5rem;

		@media (min-width: 768px) {
			
			margin-top: 4.5rem;
			margin-bottom: 4rem;
			
		}
	}

	.left.text {
		@media (min-width: 992px) {
			
			padding-right: 6rem;
			
		}
	}

	.right.text {
		@media (min-width: 992px) {
			
			padding-left: 6rem;
			
		}
	}

	.right[class^=col-md-] {
		@media (max-width: 767px) {			
			margin-top: 6rem;			
		}
	}

	.right[class^=col-lg-] {
		@media (max-width: 991px) {			
			margin-top: 6rem;			
		}

		&[class^=col-md-] {
			@media (max-width: 991px) {			
				margin-top: 0;			
			}
			@media (max-width: 767px) {			
				margin-top: 6rem;			
			}
		}
	}

	.same-height .image {
		@media (max-width: 991px) {
			
			display: none;
			
		}
	}
	
	/*--------------------------------------------
	Helpers
	--------------------------------------------*/
	.of-cover {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	.strech-lg-right .of-cover {
		height: 300px;		

		@media (min-width: 992px) {			
			height: 600px;			
		}		
	}

	.of-contain {
		object-fit: contain;
	}

	@include media-breakpoint-up(md) {

		.single-block__body {
			position: relative;
			top: 50%;
			transform: translateY(-50%);
		}

		
	}

	@media (min-width: 992px) {
		.abs-lg-valign {
			position: absolute;
			left: 0; right: 0;
			top: 50%;
			transform: translateY(-50%);
		}

		/* Helpers */ 
		.strech-lg-left,
		.strech-lg-right {
			position: relative;
			width: 50%;
		}
		
		.strech-lg-left {
			right: 50%;
			left: 0;
		}
		
		.strech-lg-right {
			left: 50%;
			right: 0
		}
		
		.left-lg-auto {
			left: auto
		}

		.single-block__figure-mobile {
			display: none;
		}
	}

	@media (max-width: 991px) {
		.strech-lg-right, .strech-lg-left  {
			display: none;
		}
	}


	.single-block__pdf {

		margin-top: 4rem;

		@media (min-width: 768px) {
			margin-top: 6rem;
		}

		@media (min-width: 992px) {
			margin-top: 8rem;
		}

		a {
			display: flex;
			align-items: center;
		}
		
		img {
			max-width: 40px;
			max-height: 40px;
			margin-right: 2rem;

			@media (min-width: 992px) {
				max-width: 60px;
				max-height: 60px;
			}
		}

		span {
			font-family: $font-body-bold;
			text-transform: uppercase;
		}

	}

	.taxonomy-header {
		a {

			font-family: $font-body-bold;
			text-transform: uppercase;

			img {
				height: 11px;
				width: auto;
				margin-right: 1rem;
				display: inline-block;
			}
		}
	}

}

@import 'Partials/image';