{% extends 'templates/_document.twig' %}

{% block content %}

	<article class="post">

		{% if post.meta('hero_image') %}

			{% set image = post.meta('hero_image') %}

			<div class="hero">
				<figure class="hero__figure">
					<img class="hero__image img-fluid lazyload of-cover"
						src="{{ image.src|resize(1200, 700) }}"
						alt="{{ image.alt|e }}">
				</figure>
			</div>

		{% endif %}
		
		<section class="post__body">

			{% for component in post.meta('pageComponents') %}
				{{ renderComponent(component) }}
			{% endfor %}

		</section>

	</article>

{% endblock %}
