.pageTransition {
	z-index: 1;
    position: fixed;
    top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	@include transition(width .6s cubic-bezier(.76,.2,.43,.89), height .6s cubic-bezier(.76,.2,.43,.89));

	&.circle-expand {
		width: 200vw;
		height: 200vw;
	}
}

.mainContent {
	opacity: 0;
}