[is='breadcrumbs'] {

	.section {
		margin-bottom: 2rem;
	}

	.breadcrumbs {
		font-size: 1rem;
		text-transform: uppercase;

		@media (min-width:576px) {
			font-size: 1.2rem;
		}
	}

	.breadcrumbs__separator {
		margin: 0 .6rem;
		display: inline-block;
		vertical-align: 7%;
	}

}